@charset "UTF-8";
/* CSS Document */

.if {
	width: 800px;
	height: 615px;
	background-color: black;
}

.if img {
	width: 400px;
	margin-top: 100px;
	margin-bottom: -228px;
	float: left;
}

.if p{
	color:white;
	width: 190px;
	float:left;
	margin-top: 370px;
	/*used width to adjust line break*/
}

h1 {
	color:red;
	text-align:left;
	margin-bottom: -15px;
	margin-left:15px;
}


.adobe {
	width: 150px;
	float: right;
	margin-top:-30px;
}

h2{ 
	color: grey;
	text-align:center;
	
	
}

.easy p {
	width:330px;
	margin-left:15px;
	
}

h3{
	font-weight: bold;
	margin-bottom: -15px;
	margin-left: 15px;
	
	
}