@charset "UTF-8";
/* CSS Document */

.if {
	width: 800px;
	height: auto;
	background-color: black;
}

.if img {
	width: 400px;
}

p1{
	color:white;
	text-align:right;
	height:200px;
}

h1 {
	color:orange;
	text-align:left;